token=123456789:TOKEN # Токен бота
jsonId=ProjectName-0000-0000aaaa000a0a # Название .json файла
folderId=1-Ve3BcYyGp71u47etpkOJM6oMy7hLfA9 # ID папки на вашем Google Drive диске
ioKey=io-vX-TyTpRYaMoverMNoGoSymboLOVE # Токен из io.net
